{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
       {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
             <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>Jesus,&nbsp; {{ post.gratitudeStmt|linebreaksbr }}</p>
        <p>I felt:&nbsp;{{ post.emotionTags|linebreaksbr }}</p>
        <p>My body felt:&nbsp;{{ post.sensationTags|linebreaksbr }}</p>
        <p>{{ post.story|linebreaksbr }}</p>
    </div>
{% endblock %}